<h1><%= @movie.name%></h1> 

<%= link_to("Edit", "/movies/#{@movie.id}/edit") %>
<br>
<%= link_to("Delete", "/movies/"+@movie.id.to_s, method: :delete) %>

<hr>

<p>

<ul>

<%= image_tag @movie.picture%>

<li><i>Genre:</i> <%= @movie.genre%></li>

<li><i>Year:</i> <%= @movie.year%></li>

<li><i>About:</i> <%= @movie.synopsis%></li>

<li><i>Favorite?</i> <%= @movie.favorite%></li>

</ul>

</p>

<a href="/movies/">Go Back</a>